# Ignore results folder (raw data & parsed reports)
results/
data/

# Ignore Python cache
__pycache__/
*.py[cod]
venv/

# Ignore environment files
.env
*.env

# Ignore system files
.DS_Store
Thumbs.db

# Ignore log files
*.log

# Ignore temporary files
*.tmp
*.swp
